# Standard python stuff
venv

# Byte-compiled / optimized / DLL files
__pycache__
*.py[cod]


#./client
#   dependencies
./client/node_modules
./client/.pnp
./client.pnp.js

#   testing
./client/coverage

#   production
./client/build

#   misc
./client.DS_Store
./client.env.local
./client.env.development.local
./client.env.test.local
./client.env.production.local

./clientnpm-debug.log*
./clientyarn-debug.log*
./clientyarn-error.log*
__pycache__/server.cpython-310.pyc
Backend/Tree_algorithm/__pycache__/model_predictor.cpython-310.pyc
