.range-input-div {
    width: 100%;
    display: grid;
    grid-template-columns: 80% auto;
    grid-template-areas: "input output";
    justify-content: center;
}

@media (max-width: 700px) {
    .range-input-div {
        width: 100%;
        display: grid;
        grid-template-columns: 30% auto;
        grid-template-areas: "input output";
    }
}

.range-input-div>input {
    grid-area: input;
}

.range-input-div>output {
    grid-area: output;
}